body {
    background-color: #F9FAFC;
}

.container-fluid,
.blue-bg {
    background-color: #013b94
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    border-radius: 20px;
}

/* Carousel */

 .carousel-item {
     position: relative;
 }

 .carousel-item::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     z-index: 1;
 }

 .carousel-item h1,  .carousel-item h4 {
     position: relative;
     z-index: 2;
     color: white;
 }

 .carousel-item img {
     height: 600px;
     width: 100%;
     object-fit: cover;
 }


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #0071cc;
}

.image-flash-top-right {
    position: absolute;
    top: 5%;
    min-width: 30%;
    right: -2px;
}

.image-flash-top-left {
    position: absolute;
    top: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #0071cc;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #310add;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Hero content */

/* .hero-bg {
    position: relative;
}

.hero-bg::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon-inside {
    position: absolute;
    right: 15px;
    top: calc(50% - 11px);
    pointer-events: none;
    font-size: 18px;
    font-size: 1.125rem;
    color: #c4c3c3;
    z-index: 3;
}

.hero-wrap {
    position: relative;
    z-index: 1;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-wrap .hero-bg {
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
}

.form-control:not(.form-control-sm) {
    padding: 0.81rem 0.96rem;
    height: inherit;
}

.form-control,
.form-select {
    border-color: #d5d3d3;
    color: #777;
}

.travellers-class {
    position: relative;
}

.travellers-class-input {
    cursor: pointer;
}

.travellers-dropdown .qty .btn {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.25rem !important;
}

.input-group-append .btn,
.input-group-prepend .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.text-muted {
    color: #8e9a9d !important;
}

.btn-primary {
    background-color: #0071cc;
    border-color: #0071cc;
}

.btn {
    padding: 0.75rem 2.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */