{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="section bg-white"> 
    <div class="container mt-3 mb-4">
        <h2 class="text-9 text-center fw-500">Booking Room</h2>
        <p class="text-9 text-center">For a successful room reservation, please provide the following information:</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow mb-4 rounded-4">
                    <div class="card-body">
                        <form method="post" class="needs-validation" id="bookingForm">
                            {% csrf_token %}
                            <p><strong>City:</strong> {{city.city_name}}</p>
                            <p><strong>Hotel:</strong> {{ hotel.hotel_name}}</p>
                            <p><strong>Room:</strong> {{ room.room_name }}</p>
                            <p><strong>Price per night:</strong> €  <span id="price">{{ room.price }}</span></p>
                            <div class="row">
                            {{ form.media }}
                            {{ form|crispy }}
                            <p style="margin-top: 3rem;"><strong>Total Price:</strong> € <span id="totalPrice">0</span></p>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block custom-search-btn" style="display: block; margin-top: 10px; margin-bottom: 10px">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-body align-items-center justify-content-center fixed-image-container">
                <img src="{% static 'images/form.webp' %}" alt="Form Image" class="img-fluid fixed-image">
            </div>
        </div>
    </div>
</section>
{% block scripts %}
<script>
    if (typeof window.bookedDates === 'undefined') {
        window.bookedDates = {{ booked_dates|safe }};
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}
{% endblock %}