{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search Form Section -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-warning mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <form method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <select class="form-select" id="city" name="city">
                                {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.city_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="checkin" class="form-label">Check-In Date</label>
                            <input type="date" class="form-control" id="checkin" name="checkin">
                        </div>
                        <div class="mb-3">
                            <label for="checkout" class="form-label">Check-Out Date</label>
                            <input type="date" class="form-control" id="checkout" name="checkout">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block custom-search-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
         <!-- Hotels Listing Column -->
        <div class="col-md-8">
            <h1>Hotels in {{ city.city_name }}</h1>
            {% for hotel in hotels %}
            <div class="property-card card shadow mb-4 rounded-4">
                <div class="row property-card-container">
                    <div class="col-md-3">
                        <div class="d-flex m-1" style="height: 100%;">
                            <img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.hotel_name }}" class="img-fluid rounded-4" style="height: 75%; width: 100%; object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="property-details">
                            <h2 class="post-title">{{ hotel.hotel_name }}</h2>
                            <div class="property-description">
                                {{ hotel.description_hotel | safe | truncatewords_html:70}}
                            </div>
                            <div class="property-action d-flex justify-content-end m-2">
                                <a href="{% url 'hotel_detail' hotel.slug %}" class="btn btn-primary">
                                    <span>Show rooms and prices > </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination Section -->
    {% if hotels.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if hotels.has_previous %}
                <li><a href="?page={{ hotels.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% for i in hotels.paginator.page_range %}
                {% if hotels.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if hotels.has_next %}
                <li><a href="?page={{ hotels.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}
