{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-warning mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <form method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <select class="form-select" id="city" name="city">
                                {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.city_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                        </div>
                        <div class="mb-3">
                            <label for="checkin" class="form-label">Check-In Date</label>
                            <input type="date" class="form-control" id="checkin" name="checkin">
                        </div>
                        <div class="mb-3">
                            <label for="checkout" class="form-label">Check-Out Date</label>
                            <input type="date" class="form-control" id="checkout" name="checkout">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block custom-search-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-12 mt-3 mb-3">
                    <h3 class="post-title">{{ hotel.hotel_name }}</h3>
                    <img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.hotel_name }}" class="img-fluid rounded-2">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-text">{{ hotel.description_hotel | safe }}</div>
        </div>
    </div>
    <div class="container mt-5">
        <h2>Rooms in this Hotel</h2>
        <table class="table table-bordered border-primary table-hover table-responsive text-center">
            <thead class="blue-hat">
                <tr>
                    <th scope="col">Room type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Number of guests</th>
                    <th scope="col">Price per night</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for room in object.room_set.all %}
                <tr>
                    <td>{{ room.room_name }}</td>
                    <td>{{ room.description_room | safe |truncatewords_html:20 }}</td>
                    <td>{{ room.capacity }}</td>
                    <td><strong>&euro; {{ room.price }}</strong></td>
                    <td>
                        <form method="get" action="{% url 'room_detail' room.slug %}"
                            class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">More Details ></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}