{% extends "base.html" %}

{% block content %}

<div id="content">
    <div class="hero-wrap">
        <div class="hero-mask opacity-3 bg-dark"></div>
        <div class="hero-bg" style="background-image:url('./images/bg/image-2.jpg');"></div>
        <div class="hero-content d-flex fullscreen-with-header">
            <div class="container my-auto py-5">
                <!-- Tabs -->
                <ul class="nav nav-tabs style-2" id="myTab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" id="hotels-tab" data-bs-toggle="tab" href="#hotels"
                            role="tab" aria-controls="hotels" aria-selected="true">Hotels</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="flights-tab" data-bs-toggle="tab" href="#flights"
                            role="tab" aria-controls="flights" aria-selected="true">Flights</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="trains-tab" data-bs-toggle="tab" href="#trains"
                            role="tab" aria-controls="trains" aria-selected="false">Trains</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="bus-tab" data-bs-toggle="tab" href="#bus" role="tab"
                            aria-controls="bus" aria-selected="false">Bus</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="car-tab" data-bs-toggle="tab" href="#car" role="tab"
                            aria-controls="car" aria-selected="false">Cars</a> </li>
                </ul>
                <div class="tab-content bg-white shadow-md rounded-bottom p-4" id="myTabContent">

                    <!-- Search Hotels -->
                    <div class="tab-pane fade show active" id="hotels" role="tabpanel" aria-labelledby="hotels-tab">
                        <h2 class="text-4 mb-3">Book Domestic and International Hotels</h2>
                        <form id="bookingHotels" method="post">
                            <div class="row g-3 g-lg-2">
                                <div class="col-md-12 col-lg">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="hotelsFrom" required
                                            placeholder="Enter City">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input id="hotelsCheckIn" type="text" class="form-control" required
                                            placeholder="Check In">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input id="hotelsCheckOut" type="text" class="form-control" required
                                            placeholder="Check Out">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="travellers-class">
                                        <input type="text" id="hotelsTravellersClass"
                                            class="travellers-class-input form-control" name="hotels-travellers-class"
                                            placeholder="Rooms / People" required onkeypress="return false;">
                                        <span class="icon-inside"><i class="fas fa-caret-down"></i></span>
                                        <div class="travellers-dropdown">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Rooms</p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease" data-target="#hotels-rooms"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner" id="hotels-rooms"
                                                            class="qty-spinner form-control" value="1" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase" data-target="#hotels-rooms"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="mt-2 mb-4">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Adults <small class="text-muted">(12+
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease" data-target="#adult-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner" id="adult-travellers"
                                                            class="qty-spinner form-control" value="1" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase" data-target="#adult-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Children <small class="text-muted">(1-12
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease" data-target="#children-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner" id="children-travellers"
                                                            class="qty-spinner form-control" value="0" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase" data-target="#children-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-grid">
                                                <button class="btn btn-primary submit-done mt-3"
                                                    type="button">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg d-grid">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Search Flight -->
                    <div class="tab-pane fade" id="flights" role="tabpanel" aria-labelledby="flights-tab">
                        <h2 class="text-4 mb-3">Book Domestic and International Flights</h2>
                        <form id="bookingFlight" method="post">
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input id="oneway" name="flight-trip" class="form-check-input" checked="" required
                                        type="radio">
                                    <label class="form-check-label" for="oneway">One Way</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="roundtrip" name="flight-trip" class="form-check-input" required
                                        type="radio">
                                    <label class="form-check-label" for="roundtrip">Round Trip</label>
                                </div>
                            </div>
                            <div class="row g-3 g-lg-2">
                                <div class="col-md-6 col-lg-2">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="flightFrom" required
                                            placeholder="From">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="flightTo" required placeholder="To">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="position-relative">
                                        <input id="flightDepart" type="text" class="form-control" required
                                            placeholder="Depart Date">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="position-relative">
                                        <input id="flightReturn" type="text" class="form-control" required
                                            placeholder="Return Date">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="travellers-class">
                                        <input type="text" id="flightTravellersClass"
                                            class="travellers-class-input form-control" name="flight-travellers-class"
                                            placeholder="Travellers, Class" readonly required
                                            onkeypress="return false;">
                                        <span class="icon-inside"><i class="fas fa-caret-down"></i></span>
                                        <!-- Travellers & Class Dropdown -->
                                        <div class="travellers-dropdown">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Adults <small class="text-muted">(12+
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#flightAdult-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="flightAdult-travellers" class="qty-spinner form-control"
                                                            value="1" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#flightAdult-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Children <small class="text-muted">(2-12
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#flightChildren-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="flightChildren-travellers"
                                                            class="qty-spinner form-control" value="0" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#flightChildren-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Infants <small class="text-muted">(Below 2
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#flightInfants-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="flightInfants-travellers"
                                                            class="qty-spinner form-control" value="0" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#flightInfants-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="mt-2">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input id="flightClassEconomic" name="flight-class"
                                                        class="flight-class form-check-input" value="0" checked=""
                                                        required type="radio">
                                                    <label class="form-check-label"
                                                        for="flightClassEconomic">Economic</label>
                                                </div>
                                                <div class="form-check">
                                                    <input id="flightClassPremiumEconomic" name="flight-class"
                                                        class="flight-class form-check-input" value="1" required
                                                        type="radio">
                                                    <label class="form-check-label"
                                                        for="flightClassPremiumEconomic">Premium Economic</label>
                                                </div>
                                                <div class="form-check">
                                                    <input id="flightClassBusiness" name="flight-class"
                                                        class="flight-class form-check-input" value="2" required
                                                        type="radio">
                                                    <label class="form-check-label"
                                                        for="flightClassBusiness">Business</label>
                                                </div>
                                                <div class="form-check">
                                                    <input id="flightClassFirstClass" name="flight-class"
                                                        class="flight-class form-check-input" value="3" required
                                                        type="radio">
                                                    <label class="form-check-label" for="flightClassFirstClass">First
                                                        Class</label>
                                                </div>
                                            </div>
                                            <div class="d-grid">
                                                <button class="btn btn-primary submit-done" type="button">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2 d-grid">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Search Train -->
                    <div class="tab-pane fade" id="trains" role="tabpanel" aria-labelledby="trains-tab">
                        <h2 class="text-4 mb-3">Book Train Tickets</h2>
                        <form id="bookingTrain" method="post">
                            <div class="row g-3 g-lg-2">
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="trainFrom" required
                                            placeholder="From">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="trainTo" required placeholder="To">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input id="trainDepart" type="text" class="form-control" required
                                            placeholder="Depart Date">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="travellers-class">
                                        <input type="text" id="trainTravellersClass"
                                            class="travellers-class-input form-control" name="train-travellers-class"
                                            placeholder="Travellers, Class" required onkeypress="return false;">
                                        <span class="icon-inside"><i class="fas fa-caret-down"></i></span>
                                        <!-- Travellers & Class Dropdown -->
                                        <div class="travellers-dropdown">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Adults <small class="text-muted">(12+
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#trainAdult-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="trainAdult-travellers" class="qty-spinner form-control"
                                                            value="1" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#trainAdult-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Children <small class="text-muted">(2-12
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#trainChildren-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="trainChildren-travellers"
                                                            class="qty-spinner form-control" value="0" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#trainChildren-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Infants <small class="text-muted">(Below 2
                                                            yrs)</small></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease"
                                                                data-target="#trainInfants-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner"
                                                            id="trainInfants-travellers"
                                                            class="qty-spinner form-control" value="0" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase"
                                                                data-target="#trainInfants-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-3">
                                                <select id="train-class" name="train-class" class="form-select">
                                                    <option value="0">All Class</option>
                                                    <option value="1">First Class</option>
                                                    <option value="2">Second Class</option>
                                                    <option value="3">First Class Sleeper (SL)</option>
                                                    <option value="4">Second Class Sleeper (SL)</option>
                                                    <option value="5">Business</option>
                                                </select>
                                            </div>
                                            <div class="d-grid">
                                                <button class="btn btn-primary submit-done" type="button">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg d-grid">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Search Bus -->
                    <div class="tab-pane fade" id="bus" role="tabpanel" aria-labelledby="bus-tab">
                        <h2 class="text-4 mb-3">Book Bus Tickets</h2>
                        <form id="bookingBus" method="post">
                            <div class="row g-3 g-lg-2">
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="busFrom" required
                                            placeholder="From">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" id="busTo" required placeholder="To">
                                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="position-relative">
                                        <input id="busDepart" type="text" class="form-control" required
                                            placeholder="Depart Date">
                                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg">
                                    <div class="travellers-class">
                                        <input type="text" id="busTravellersClass"
                                            class="travellers-class-input form-control" name="bus-travellers-class"
                                            placeholder="Seats" required onkeypress="return false;">
                                        <span class="icon-inside"><i class="fas fa-caret-down"></i></span>
                                        <!-- Travellers & Class Dropdown -->
                                        <div class="travellers-dropdown">
                                            <div class="row align-items-center mb-3">
                                                <div class="col-sm-7">
                                                    <p class="mb-sm-0">Seats</p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="qty input-group">
                                                        <div class="input-group-prepend">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="decrease" data-target="#adult-travellers"
                                                                data-toggle="spinner">-</button>
                                                        </div>
                                                        <input type="text" data-ride="spinner" id="adult-travellers"
                                                            class="qty-spinner form-control" value="1" readonly>
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn bg-light-4"
                                                                data-value="increase" data-target="#adult-travellers"
                                                                data-toggle="spinner">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-grid">
                                                <button class="btn btn-primary submit-done" type="button">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg d-grid">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

{%endblock%}