
{% extends "base.html" %} 
{% load static %}

{% block content %}
<section class="container mt-2 mb-2  bg-white">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4">
            <div class="carousel-item active">
                <img src="{% static 'images/hero-bg.webp' %}" class="d-block w-100 responsive-img" alt="...">
                <div class="carousel-caption d-none d-md-block custom-caption">
                    <h1>Dublin - the capital of history and fun</h1>
                    <h4>Discover a rich cultural heritage and lively music.</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cork.webp' %}" class="d-block w-100 responsive-img" alt="...">
                <div class="carousel-caption d-none d-md-block custom-caption">
                    <h1>Cork - the city of art and delicious food</h1>
                    <h4>Immerse yourself in cultural diversity and culinary delights.</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/limerick.webp' %}" class="d-block w-100 responsive-img" alt="...">
                <div class="carousel-caption d-none d-md-block custom-caption">
                    <h1>Limerick - where history and modernity blend</h1>
                    <h4>Explore ancient landmarks and contemporary art.</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- --------Search bar-------- -->
<section>
    <div class="container">
        <div class="row">
            <div class="col position-relative">
                <form method="post" action="{% url 'search' %}" class="card shadow rounded-3 position-relative p-1 bg-warning">
                    {% csrf_token %}
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="form-group d-flex">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-geo-alt fs-3 mt-2"></i></span>
                                    <label for="city" class="form-label sr-only">City</label>
                                    <select class="form-select" id="city" name="city">
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.city_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group d-flex">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-calendar fs-3 mt-2"></i></span>
                                    <label for="checkin" class="form-label sr-only">Check-In Date</label>
                                    <input type="date" class="form-control" id="checkin" name="checkin">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group d-flex">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-calendar-check fs-3 mt-2"></i></span>
                                    <label for="checkout" class="form-label sr-only">Check-Out Date</label>
                                    <input type="date" class="form-control" id="checkout" name="checkout">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------------------ -->


<!-- ------------------------------------------ -->
<section class="section bg-white">
    <div class="container text-center mt-5">
        <h2 class="text-9 fw-500">Special Offers: Promotions, Discounts, and Exclusive Deals Await You</h2>
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                {% for room in rooms%}
                    <div class="col-md-4">
                        <div class="mb-4 h-100">
                            <div class="card card-body d-flex flex-column shadow mt-3 mb-3 rounded-4">
                                <div class="image-container ">
                                    {% if room.room_image %}
                                    <img class="card-img-top img-fluid rounded-4" src="{{ room.room_image.url }}" alt="image room">
                                    {% else %}
                                    <img class="card-img-top img-fluid"
                                        src="https://services.meteored.com/img/article/como-podemos-distinguir-los-planetas-de-las-estrellas-1679732078853_1024.jpeg"
                                        alt="image planet">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="Price">Price: {{ room.price }} €</p>
                                    </div>
                                    <div class="image-flash-top-right">
                                        <p class="Likes"><i class="far fa-heart"></i>{{ Room.likes}}</p>
                                    </div>
                                    <div class="image-flash-top-left">
                                        <p class="City">{{ room.hotel.city.city_name }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'room_detail' room.slug %}" class="post-link">
                                    <h4 class="card-title text-center">{{ room.hotel }}</h4>
                                    <h6 class="card-title text-center">{{ room.room_name }}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section bg-white">
    <div class="container text-center  mb-5 mt-5">
        <h2 class="text-9 fw-500">Best Hotels: High Ratings and Guest Preference</h2>
        <div class="row">
            {% for hotel in hotels %}
            <div class="col-md-4">
                <div class="mb-4 h-100">
                    <div class="card card-body d-flex flex-column shadow mt-3 mb-3 rounded-4">
                        <div class="image-container">
                            {% if hotel.hotel_image %}
                            <img class="card-img-top img-fluid rounded-4" src="{{ hotel.hotel_image.url }}"
                                alt="фото отеля">
                            {% else %}
                            <img class="card-img-top img-fluid"
                                src="https://services.meteored.com/img/article/como-podemos-distinguir-los-planetas-de-las-estrellas-1679732078853_1024.jpeg"
                                alt="фото планеты">
                            {% endif %}
                            <div class="image-flash-top-left">
                                <p class="city">{{ hotel.city.city_name }}</p>
                            </div>
                        </div>
                        <a href="{% url 'hotel_detail' hotel.slug %}" class="post-link">
                            <h4 class="card-title text-center">{{ hotel.hotel_name }}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    
{%endblock%}